* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 25px;
    margin: 30px auto;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

header .container {
    margin: 10px auto;
}

header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

header nav ul {
    display: block;
    flex-direction: row;
}

header nav li {
    display: inline-block;
    flex-direction: row;
    margin: 5px;
}

header nav li a:hover {
    color: green;
}

header nav li a {
    color: mediumseagreen;
    list-style-type: none;
    text-decoration: none;
    font-size: 12pt;
    font-weight: 500;
    padding: 5px 15px;
}

/*Section banner*/

.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 70px 70px;
    height: 526px;
    text-align: left;
}

section.banner_index {
    background-image: url('rorun_layout_pliki/home/background_image.jpg');
}

section.banner h1 {
    margin: 0;
    font-size: 60pt;
    font-weight: bold;
}

section.banner h4 {
    margin-top: 10px;
    font-size: 50pt;
    font-weight: lighter;
}

section.banner h5 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 15px;
}

section.banner h5:after {
    content: '';
    background-color: white;
    height: 3px;
    width: 30%;
    display: block;
    margin-top: 30px;
}

section.banner a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}


/*Section paragraph*/

section.paragraph {
text-align: center;
margin-bottom: 45px;

}

section.paragraph h1 {
    font-size: 45pt;
    font-weight: 900;
    margin-bottom: -10px;
    
}

section.paragraph h2{
    font-size: 30pt;
    color: rgb(168, 164, 164);
    font-weight: lighter;
    text-transform: lowercase;
}

section.paragraph h2::after{
    content: "";
    display: block;
    background-color: rgb(231, 226, 226);
    height: 2px;
    width: 200px;
    margin: 20px auto 40px;
}


section.paragraph p{
    font-size: 13pt;
    color: rgb(168, 164, 164);
    margin-bottom: 20px;
}

/*Section icon*/

section.icon{
    padding: 15px;
    margin-bottom: 20px;
}

section.icon .icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

section.icon .icon-wrapper .icon-item {
    width: 25%;
    height: 200px;
    background-color: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

section.icon .icon-wrapper .icon-item h4{
    font-size: 18pt;
    color: grey;
    margin: 25px 0;
}

section.icon .icon-wrapper .icon-item h4 a{
    color: rgb(21, 121, 146);
    text-decoration: none;
}

section.icon .icon-wrapper .icon-item p{
    font-size: 13pt;
    color: grey;
    padding: 15px;
    margin-bottom: 40px;
}

/*Section statistics*/

section.statistics {
    background-color: lightgray;
    display: flex;
    margin-top: 200px;
    padding: 30px 0;
}

section.statistics.container {
    flex-wrap: wrap;
    margin-top: 20px;
}

section.statistics div {
    display: inline-block;
    flex-direction: column;
    text-align: center;
    padding: 10px 40px;
}

section.statistics div h3 {
    color: mediumseagreen;
    font-size: 50pt;
    font-weight: bolder;
}

section.statistics div p {
    color: gray;
    font-size: 18pt;
    font-weight: 300;
}

/*Section cooperation*/

section.cooperation {
    background-color: mediumseagreen;
    padding: 70px 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

section.cooperation h3 {
     color: #fff;
     font-size: 27pt;
     font-weight: bolder;
     margin-bottom: 5px;
 }

section.cooperation p {
    color: #fff;
    font-size: 23pt;
    font-weight: 300;
    margin-bottom: 20px;
}

section.cooperation p:after {
    content: '';
    display: block;
    background-color: white;
    height: 2px;
    width: 20%;
    margin: 10px auto;
}

section.cooperation .brands {
    margin-top: 40px;
}

section.cooperation img {
    padding: 30px;
}

/*Section articles*/

section.articles h1{
    font-size: 27pt;
    font-weight: 900;
    text-align: center;

}

section.articles h2{
    font-size: 23pt;
    margin-bottom: 20px;
    color: rgb(168, 164, 164);
    font-weight: 100;
    text-align: center;
    text-transform: lowercase;

}

section.articles h2::after{
    content: "";
    display: block;
    background-color: rgb(168, 164, 164);
    height: 2px;
    width: 200px;
    margin: 20px auto 40px;
}

section.articles .articles-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}

section.articles .articles-wrapper .articles-item{
    width: 30%;
    padding: 15px;
    margin-bottom: 20px;
}

section.articles .articles-wrapper .articles-item h3{
    font-size: 18pt;
    color: rgb(168, 164, 164);
    text-align: center;
}

section.articles .articles-wrapper .articles-item h3::after{
    content: "";
    display: block;
    background-color: rgb(168, 164, 164);
    height: 2px;
    width: 200px;
    margin: 20px auto 40px;
}

section.articles .articles-wrapper .articles-item p{
    font-size: 13pt;
    color: rgb(168, 164, 164);
    text-align: center;
}

/*Section about*/

section.about {
    background-color: mediumseagreen;
    text-align: center;
    padding: 60px;
}

section.about p{
    font-size: 21pt;
    color:white;
    font-weight: 100;
}

section.about p.description::after{
    content: "";
    display: block;
    background-color: white;
    height: 2px;
    width: 200px;
    margin: 20px auto 40px;
}

section.about p.signature{
    font-size: 18pt;
    color:white;
    font-weight: lighter;
    margin-bottom: 30px;
    text-align: center;
}

section .btn{
    background-color: white;
    color: mediumseagreen;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    border: none;
    padding: 10px 15px;
    margin: 20px 0;
    transition: all .4s ease;
    text-transform: lowercase;
}

section .btn:hover {
    background-color: seagreen;
    color: white;
}

/*Section news*/

section.news h1{
    font-size: 27pt;
    font-weight: 900;
    text-align: center;
    margin-top: 60px;
}

section.news h2{
    font-size: 23pt;
    margin-bottom: 20px;
    color: rgb(168, 164, 164);
    font-weight: 100;
    text-align: center;
    text-transform: lowercase;
}

section.news h2::after{
    content: "";
    display: block;
    background-color: rgb(168, 164, 164);
    height: 2px;
    width: 200px;
    margin: 20px auto 40px;
}

section.news .currency_news {
    background-color: lightgrey;
    padding: 70px 100px 100px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

section.news .currency_news:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid lightgrey;
    margin: auto;
    display: block;
    position: absolute;
    top: -30px;
}

section.news .arrow_left,
             .arrow_right {
    position: absolute;
    cursor: pointer;
    padding: 10px;
}

.arrow_right {
    transform: rotate(90deg);
    right: 56px;
    top: 200px;
}

.arrow_left {
    transform: rotate(270deg);
    left: 70px;
    top: 200px;
}

section.news .new {
    display: inline-block;
    width: 299px;
    background-color: white;
    margin: 5px;
    padding: 20px;
    position: relative;
    cursor: pointer;
}

section.news img {
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: 20px;
}

section.news .new::after {
    content: '';
    background-color: mediumseagreen;
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    bottom: 0;
    right: 0;
}

section.news .container {
    position: relative;
}

section.news a {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 507px;
}

/*Section map*/

section.contact .map-item{
    width: 100%;
    height: 400px;
    position: relative;
    z-index: -1;
}

section.contact .map-item .jpg{
    position: absolute;
    top: 100px;
    left: 700px;
    display: block;
}


section.contact .box-form{
    background-color: white;
    width: 200px;
    height: 200px;
    position: absolute;
    display: block;
    bottom: 0;
}

section.contact h1{
    font-size: 27pt;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

section.contact h2{
    font-size: 23pt;
    margin-bottom: 20px;
    color: rgb(168, 164, 164);
    font-weight: 100;
    text-align: center;
    text-transform: lowercase;

}

section.contact h2::after{
    content: "";
    display: block;
    background-color: rgb(168, 164, 164);
    height: 2px;
    width: 200px;
    margin: 20px auto 40px;
}


/*Section entry_form*/

form.entry_form {
    width: 60%;
    background-color: white;
    bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -100px;
    z-index: 999;
    padding: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 5px 20px 5px;
    border: 1px solid lightgrey;
    font-size: 20px;
    position: relative;
}

#fmessage {
    min-height: 200px;
}

:required:hover {
    background-color: antiquewhite;
}

form div.required {
    position: relative;
}

form div.required::after {
    content: 'Wymagane';
    position: absolute;
    color: mediumseagreen;
    font-size: 10px;
    right: 0;
    top: 5px;
    text-transform: lowercase;
}

form label {
    margin: 20px;
    font-size: 13px;
}

form button {
    display: inline-block;
    line-height: 38px;
    border: 1px solid seagreen;
    padding: 2px 100px;
    text-decoration: none;
    color: #fff;
    background-color: seagreen;
    transition: all .4s ease;
    margin-bottom: 30px;
}

/*Section footer*/

section.footer{
    background-color: lightgray;
    margin-top: 5px;
    
}

section.footer .footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

section.footer .footer-wrapper p{
    color: darkgrey;
}


/*Section news.html*/

section.banner-news {
    background-image: url('rorun_layout_pliki/aktualnosci/background_image.jpg');
}

section.gallery-news .gallery-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
}

section.gallery-news .gallery-wrapper .gallery-ittem{
    width: 33%;
    height: 50%;
    margin-bottom: 5px;
}

    
section.gallery-news .gallery-wrapper .gallery-ittem h4{
    font-size: 18pt;
    color:black;
    margin: 10px 0;
    font-weight: lighter;
    margin-left: 15px;
}

section.gallery-news .gallery-wrapper .gallery-ittem p{
    font-size: 13pt;
    color: grey;
    margin-bottom: 40px;
    margin-left: 15px;
}

section.gallery-news .gallery-wrapper .gallery-ittem p::after{
    content: "";
    width: 300px;
    background-color: mediumseagreen;
    height: 2px;
    display: block;
    margin-left: -15px;
    margin-top: 20px;
}

section.button{
    text-align: center;
    margin-top: 20px;
}

section.button .btn {
    display: inline-block;
    line-height: 38px;
    border: 1px solid seagreen;
    padding: 0 50px;
    text-decoration: none;
    color: #fff;
    background-color: seagreen;
    transition: all .4s ease;
    margin-bottom: 30px;
}

section.button .btn:hover {
    background-color: greenyellow;
    border-color: greenyellow;
    color: black;
}

section.description p{
    font-size: 12pt;
    color: rgb(168, 164, 164);
    margin-bottom: 20px;
    padding: 5px 28px;
    margin-right: 20px;
}


section.picture{
    text-align: center;
}

/*Page about_us*/

section.banner_about_us {
    background-image: url('rorun_layout_pliki/o nas/background_image.jpg');
}

section.app_description {
    text-align: center;
    margin-bottom: 45px;
}

section.app_description h1 {
    font-size: 45pt;
    font-weight: 900;
    margin-bottom: -10px;
}

section.app_description h2{
    font-size: 30pt;
    color: rgb(168, 164, 164);
    font-weight: lighter;
    text-transform: lowercase;
}

section.app_description h2::after{
    content: "";
    display: block;
    background-color: rgb(231, 226, 226);
    height: 2px;
    width: 200px;
    margin: 20px auto 40px;
}

section.app_description p{
    font-size: 13pt;
    color: rgb(168, 164, 164);
    margin-bottom: 20px;
}

section.app_description .app_stats {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.app_description .app_stats h3 {
    color: mediumseagreen;
    font-size: 40px;
    font-weight: bold;
}

section.app_description .app_stats h3, p {
    display: inline-block;
    margin: 5px;
}

section.app_description .app_stats .stat {
    width: 300px;
    margin: 10px;
}

.app_information {
    margin: 40px 0;
    font-size: 13pt;
    font-weight: 400;
    text-align: left;
    line-height: 30px;
    color: gray;
}

section.app_description .app_pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.app_description .picture {
    width: 300px;
}

.app_pictures p {
    font-size: 15pt;
}

.app_pictures p::after {
    content: "";
    display: block;
    background-color: rgb(168, 164, 164);
    height: 1px;
    width: 50%;
    margin: 10px auto;
}