* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: white;
   font-family: sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
}

section.paragraph {
text-align: center;
margin-bottom: 45px;

}

section.paragraph h1 {
    font-size: 45pt;
    
}

section.paragraph h2{
    font-size: 35pt;
    color: grey;
}

section.paragraph p{
    font-size: 13pt;
    color: grey;
}


section.icon .icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.icon .icon-wrapper .icon-item {
    width: 33%;
    height: 200px;
    background-color: #fff;
    text-align: center;
    padding: 15px;
}

section.icon .icon-wrapper .icon-item h4{
    font-size: 18pt;

}

section.icon .icon-wrapper .icon-item p{
    font-size: 13pt;

}